<header id="navbar">
  <h1 class="brand">
    <a href="/">
      <img src="../assets/Trouv’Tout.svg" alt="Logo Trouv’Tout">
    </a>
  </h1>

  <button class="nav-toggle" aria-label="Toggle navigation">
    <img class="menuIcon" src="../assets/icon-menu.svg" alt="Menu Icon">
  </button>

  <nav class="navigation">
    <ul id="nav-list" class="nav-list hidden">
      <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
      <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" id="login" href="./login.html">Connexion</a></li>
      <li class="nav-item"><a class="nav-link hidden" id="logout" href="./login.html">Déconnexion</a></li>
    </ul>
  </nav>
</header>